@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  background: linear-gradient(90deg, #03a9f4 50%, rgb(27, 27, 130) 40.1%);
}


.container  .col {
    padding: 50px;
background-color: #fff;
min-height: 50vh;
min-width: 80vh;
}



.container  .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container  .col .inputBox{
  margin:15px 0;
}

.container  .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container  .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container  .col .inputBox input:focus{
  border:1px solid #000;
}



.container  .col .flex .inputBox{
  margin-top: 5px;
}

.container  .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container  .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #03a9f4;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover{
  /* background: #03a9f4; */
  background: #0e0f0f;
}